:root {
  --txtColor: #b5abd8;
  --txtColor2: #c44061;
}
* {
  box-sizing: border-box !important;
  font-size: 20px;
  color: var(--txtColor);
}
html {
  background-color: black;
  font-family: Cambria, serif;
}

body {
}

header {
  border: 0.1rem solid;
  border-radius: 0.2rem;
  margin: 0.5rem auto;
  text-align: center;
  padding: 0.5rem;
  max-width: 1400px;
}

main {
  max-width: 1400px;
  margin: auto;
  display: grid;
  gap: 0.5rem;
}

main div {
  background: linear-gradient(90deg, #4d455d33, #514a5e31);
  border: 1px solid #443c68;
  border-radius: 0.2rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
main div:hover {
  background: linear-gradient(90deg, #4d455d38, #514a5e39);
}

img[alt='f1'] {
  border-radius: 0.2rem;
  width: calc(100% - 1rem);
  height: auto;
}

#idSpecificity {
  height: 5px;
  background: #443c68;
  position: fixed;
  bottom: 0;
  animation: loading 1s;
}
.classSpecificity {
  height: 5px;
  background: #443c68;
  position: fixed;
  bottom: 0;
  animation: none;
}
.buttons {
  display: flex;
  gap: 15px;
}
.buttons button {
  all: unset;
  height: 1.7rem;
  border-radius: 0.4rem;
  padding: 0.3rem;
  background: #443c68;
}
.buttons button:hover:not(:disabled) {
  color: #f5e9cf;
}
.buttons button:focus {
  border: 1px solid #c1aefc;
}
.buttons button:disabled {
  background: #181823;
  opacity: 0.5;
  cursor: not-allowed;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  /* align-items: stretch; */
  place-content: center;
  height: 200px;
  gap: 5px;
}
.flex [data-grow] {
  flex-grow: 1;
  align-self: stretch;
}
.flex [data-shrink] {
  flex-shrink: 2;
  height: 75px;
}
.specificity {
  background: red /*  !important */;
  flex: 0.5;
}
div#specificity {
  background: yellowgreen;
}
#specificity[specificity] {
  background: purple;
}

[data-flex] {
  display: flex;
  height: 220px;
}
[data-flex] > div {
  border: 1px solid purple;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;
}

[data-flex] #c {
  flex-shrink: 2;
}
.sizes {
  display: flex;
  max-width: 400px;
}
.sizes [data-ch] {
  font-size: 16px;
  word-break: break-all;
  max-width: 1ch;
  line-height: 0.5;
}
.sizes .percentageMarginAndPadding {
  border: 1px solid purple;
  padding: 10%; /* % of parent content width */
  margin-left: 20%; /* % of parent content width */
}
.selectors div:first-of-type {
  color: var(--txtColor2);
  margin: 10px 0px;
}
.selectors [data-type*='B' i] {
  color: turquoise;
}
.selectors [data-type^='a'] {
  border-color: turquoise;
}
.selectors [data-type$='c'] {
  box-shadow: 0px 0px 5px turquoise;
}
.dropDown {
  transition: height 0.5s ease 0.2s;
  height: 50px;
  /*   transition-property: height, font-size;
  transition-duration: 1s;
  transition-timing-function: steps(10) ease-out;
  transition-delay: 0.2s; */
}
.dropDown[data-drop='true'] {
  height: 100px;
}
@media (min-width: 960px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  .span2 {
    grid-column: span 2;
  }
  .moveInGrid {
    grid-column: 3;
    /*  grid-row: 1/4; */
    grid-row: 1 / span 3;
  }
}
.transition {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.transition .transform {
  box-shadow: 0px 0px 4px rgba(115, 31, 251, 0.2);
  transition: transform 2s ease-out, box-shadow 2s ease-out;
}
.transition .transform:hover {
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
  border: none;
  box-shadow: 0px 0px 10px rgba(115, 31, 251, 0.2);
  transform: scale(1.2) translateY(-5px);
}

@media (max-width: 180px) {
  body::after {
    content: 'TODO';
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.scroll-reveal > p {
  display: inline;
  margin: auto;
  max-width: 80%;
  color: hsla(0, 11%, 69%, 0.2);
  background-image: linear-gradient(90deg, rgb(82, 82, 82), rgb(75, 126, 102));
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: reveal linear forwards;
  animation-timeline: view();
  animation-range-start: 20vh;
  animation-range-end: 80vh;
  text-align: justify;
}
  
@keyframes reveal {
  to {
    background-size: 100% 100%;
  }
}

.empty{
  min-height: 100vh;
  grid-column:  span 3 ;
}